html {

    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;

}

body {

    max-width: 500px;              /*  when you have specified a width on the object that you have applied " margin: 0 auto " */
    margin: 0 auto;                /* to, the object will sit centrally within it's parent container. */
                                   
}


input {

    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;

}


input:focus {

    outline: none;

}



li {

    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;

}

footer {

    border-style: solid;
    border-width: medium;
    border-color: grey;
    border-radius: 5px;

}

.remove {

    padding-bottom: 5px;
    
}